{% extends 'Home/base.html' %}
{% load static %}
{% block title %}Teacher Details{% endblock %}
{% block teacher_active %}active{% endblock %}
{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Teacher Details</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'teacher_list' %}">Teachers</a></li>
                        <li class="breadcrumb-item active">Teacher Details</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="about-info">
                            <h4>{{ teacher.first_name }} {{ teacher.last_name }}</h4>
                            <div class="media mt-3">
                                <div class="media-body">
                                    <ul>
                                        <li>
                                            <span class="title-span">Teacher ID:</span>
                                            <span class="info-span">{{ teacher.teacher_id }}</span>
                                        </li>
                                        <li>
                                            <span class="title-span">Department:</span>
                                            <span class="info-span">{{ teacher.department.name|default:"-" }}</span>
                                        </li>
                                        <li>
                                            <span class="title-span">Gender:</span>
                                            <span class="info-span">{{ teacher.gender }}</span>
                                        </li>
                                        <li>
                                            <span class="title-span">Mobile:</span>
                                            <span class="info-span">{{ teacher.mobile_number }}</span>
                                        </li>
                                        <li>
                                            <span class="title-span">Email:</span>
                                            <span class="info-span">{{ teacher.email }}</span>
                                        </li>
                                        <li>
                                            <span class="title-span">Join Date:</span>
                                            <span class="info-span">{{ teacher.joining_date|date:"d M Y" }}</span>
                                        </li>
                                        <li>
                                            <span class="title-span">Qualification:</span>
                                            <span class="info-span">{{ teacher.qualification }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-12">
                                    <a href="{% url 'edit_teacher' teacher.teacher_id %}" class="btn btn-primary">Edit Teacher</a>
                                    <a href="{% url 'teacher_list' %}" class="btn btn-secondary">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
