{% extends 'Home/base.html' %}
{% load static %}
{% block title %}Edit Holiday{% endblock %}
{% block holiday_active %}active{% endblock %}
{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Edit Holiday</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'holiday_list' %}">Holidays</a></li>
                        <li class="breadcrumb-item active">Edit Holiday</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'edit_holiday' holiday.id %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="form-title"><span>Holiday Details</span></h5>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Holiday Name</label>
                                        <input type="text" class="form-control" name="name" value="{{ holiday.name }}" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Holiday Type</label>
                                        <input type="text" class="form-control" name="holiday_type" value="{{ holiday.holiday_type }}" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Start Date</label>
                                        <input type="date" class="form-control" name="start_date" value="{{ holiday.start_date|date:'Y-m-d' }}" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>End Date</label>
                                        <input type="date" class="form-control" name="end_date" value="{{ holiday.end_date|date:'Y-m-d' }}" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
